.clearfix{
  clear: both;
}
img {
	max-width: 100% !important;
}
.post-content .tab-contents .tab-content{
  display: none;
}
.post-content .tab-contents .tab-content.active{
  display: block;
}
.post-content .tab-links{
  text-align: center;
}
.post-content .tab-links a {
  color: #212529;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #212529;
  margin: 0 5px;
  line-height: normal;
}
.post-content .tab-links a.active {
  color: #737373;
  border-color: #737373;
}
.page-content h2,
.post-content h2 {
	font-size: 137.14%;
	font-weight: 700;
	margin-top: 2em;
  padding: 7px 7px 4px;
  border-top: 4px double #0050aa;
  border-bottom: 4px double #0050aa;
}
.post-content h2 {
  font-size: 22pt;
}
.page-content h3,
.post-content h3 {
	font-size: 112.5%;
  font-weight: 700;
  margin: 16px 0 8px 0;
  border-left: 5px solid #0050aa;
  line-height: 1.25;
  padding: .15em 0 .1em 0.65em;
}
.post-content h3 {
  font-size: 19px;
  font-weight: bolder;
}
.page-content h4,
.post-content h4 {
	font-size: 19px;
  font-weight: 600;
  padding-left: 8px;
  padding-bottom: 5px;
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}
.post-content .summary {
  display: none;
  font-size: inherit;
}
.post-content p {
  font-size: 14px;
  position: relative;
}
.post-content p>span {
  background-color: transparent !important;
}
.post-content i {
  font-style: italic !important;
}
.post-content blockquote {
  background: #EFEFEF;
  position: relative;
  z-index: 10;
  padding-top: 1rem;
}
.post-content blockquote::before {
  content: url("/image/icon/quote.png");
  position: absolute;
  top: 0;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: -10;
}
.post-content blockquote::after {
  content: url("/image/icon/quote.png");
  position: absolute;
  bottom: 0;
  right: 5px;
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
  z-index: -10;
}
.post-content .next-tab {
  color: #cf0101;
  margin-bottom: 15px;
}

.post-content .next-tab.btn {
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
  border: 1px solid #212529;
  min-width: 300px;
  max-width: 100%;
}
.post-content .next-tab:before {
  content: '\00BB';
  display: inline;
  margin-right: 3px;
}
/* .post-content.ck-content .image {
  position: relative;
  width: 100%;
}
.post-content.ck-content .image::after {
  display: block;
  content: '';
  padding-bottom: 66.66%;
}
.post-content.ck-content .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
.flexslider .slides img {
  margin-bottom: 0;
  object-fit: contain;
  height: 480px !important;
}
.flexslider.carousel .slides img {
  height: auto !important;
}
.flex-direction-nav a {
  text-shadow: none;
}
.flex-direction-nav a:before {
  content: '\3008';
  width: 14px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
}
.flex-direction-nav a.flex-prev:before {
  margin-left: -35px;
}
.flex-direction-nav a.flex-next:before {
  content: '\3009';
}
.post-slide-images {
  text-align: center;
  margin: 30px 0;
}
.post-slide-images .carousel,
.post-slide-images .slider {
  margin: 0;
}
.post-slide-images .flexslider .flex-direction-nav .flex-next {
  right: 0;
}
.post-slide-images .flexslider .flex-direction-nav .flex-prev {
  left: 0;
}
.post-slide-images .flex-direction-nav a {
  font-size: 0;
  opacity: 0.7;
  width: 15%;
  height: 100%;
  top: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.post-slide-images .flex-direction-nav .flex-prev:hover,
.post-slide-images .flex-direction-nav .flex-next:hover {
    background: rgba(0, 0, 0, 0.2);
}
.post-slide-images .flex-direction-nav a:before {
  font-size: 32px;
}
.post-slide-images .slider .flex-pauseplay{
  display: none;
}
.post-slide-images .carousel .slides li{
  opacity: 0.7;
  cursor: pointer;
}
.post-slide-images .carousel .slides li.flex-active-slide {
  opacity: 1;
}
/* .post-slide-images .wrap-control {
  position: relative;
}
.post-slide-images .wrap-control:after {
  content: '';
  display: block;
  clear: both;
} */
/* .post-slide-images .wrap-control .carousel {
  width: calc(100% - 105px);
  float: left;
} */
/* .post-slide-images .wrap-control .slider-pauseplay {
  width: 100px;
  float: right;
  position: absolute;
  right: 0;
  top: calc(50% - 15px);
} */
/* .post-slide-images .slider-pauseplay a {
  display: inline-block;
  width: 25px;
  font-size: 20px;
} */
.main-album {
  margin-top: 2rem;
}
.main-album .list-medias {
  padding: 0;
  margin: 0;
}
.main-album .list-medias:after {
  content: '';
  display: block;
  clear: both;
}
.main-album .list-medias .media-item {
  width: calc(100% / 6);
  padding: 1px;
  float: left;
}
.main-album .list-medias .media-item a {
  display: block;
  padding-top: 100%;
  position: relative;
}
.main-album .list-medias .media-item img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.post-main-flexslider .flex-control-thumbs li {
  width: calc(100% / 6);
  float: left;
  margin: 0;
  padding: 1px;
}
.post-main-flexslider .slides > li {
  display: none !important;
}
.post-main-flexslider .slides > li.flex-active-slide {
  display: block !important;
}
.post-main-flexslider .wrap-slides {
  position: relative;
}

.post-main-flexslider .flex-direction-nav a {
  width: 15%;
  height: 100%;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 0;
}
.post-main-flexslider .flex-direction-nav .flex-prev {
  left: 0;
}
.post-main-flexslider .flex-direction-nav .flex-next {
  right: 0;
}
.post-main-flexslider.flexslider:hover .flex-direction-nav .flex-prev {
  left: 0;
  opacity: 1;
}
.post-main-flexslider.flexslider:hover .flex-direction-nav .flex-next {
  right: 0;
  opacity: 1;
}
.post-main-flexslider.flexslider .flex-direction-nav .flex-prev:hover,
.post-main-flexslider.flexslider .flex-direction-nav .flex-next:hover {
  background: rgba(0, 0, 0, 0.2);
}
.post-main-flexslider .album-content-link{
  display: block;
  padding: 1em 0;
  font-size: 85%;
  line-height: 1.2;
  margin-top: 1em;
  color: inherit;
}

/* .post-content .tab-contents .tab-content .media div .iframely-embed .iframely-responsive iframe {
  width: 100% !important;
  max-width: 100%;
} */

.iframely-embed .iframely-responsive iframe {
  width: 100% !important;
}

.instagram-media {
  background: white;
  max-width: 540px;
  width: calc(100% - 2px);
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin: 0px 0px 12px;
  padding: 0px;
}

.page-404 {
  padding: 30px 0;
  text-align: center;
  background: #fff;
}
.modal {
  z-index: 10050;
}
.article-page .button-share-post {
  color: #111;
}
.article-page .post-man-avatar {
  width: calc(100% - 55px);
}
.article-page .post-man-avatar a {
  color: inherit;
}
.main-normal-page {
  background: #ffffff;
  padding: 25px 0;
}
.page-title .img-preview {
  max-height: 195px;
  overflow: hidden;
}
.page-title .img-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page-title .midle-postion {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#form-vote .vote-select input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}
#form-vote .vote-select label.disabled {
  opacity: 0.8;
}
#form-vote .message {
  display: none;
}
#form-vote.submitting {
  position: relative;
}
#form-vote.submitting:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}
.article-details-page-item .article-details-page-item-header>h1 .voted {
  display: inline-block;
  padding: 3px 7px;
  background: #dcbc26;
  font-size: 15px;
  vertical-align: bottom;
  border-radius: 3px;
}
.article-details-page-item .summary-content.line-bottom {
  border-bottom: 1px solid #ccc;
}
.article-details-page-item .summary-content > p {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  margin: 0;
  opacity: 0.5;
  font-size: 85%;
}
.category-content .category-content-item-list .category-content-item-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.category-content .category-content-item-list .category-content-item div .category-content-item-post .post-man-avatar a {
  color: inherit;
}
.vote-label {
  display: inline-block;
  padding: 3px 5px;
  background: #dcbc26;
  font-size: 12px;
  vertical-align: text-top;
  border-radius: 2px;
  line-height: normal;
}
/* LinkCard */
.linkcard {
  /* margin-top: 4px;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 16px; */
  margin: 10px 0;
}
.lkc-external-wrap {
  /* border: 1px solid #888888; */
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  position: relative;
  margin: 0;
  padding: 0;
  /* max-width: 500px; */
  max-width: 100%;
}
.lkc-link {
  text-decoration: none !important;
}
.lkc-card {
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}
.lkc-info {
  padding: 0;
  color: #222222;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
}
.linkcard img {
  margin: 0 !important;
  padding: 0;
  border: none;
}
.lkc-favicon {
  height: 16px;
  width: 16px;
  margin: 0 4px !important;
  border: none;
  vertical-align: bottom;
  display: inline !important;
}
.lkc-domain {
  margin: 0 0 0 6px;
  color: #222222;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  display: inline !important;
}
.lkc-content {
  height: 108px;
  margin: 6px 0 0 0;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}
.lkc-thumbnail {
  max-width: 100px;
  max-height: 108px;
  padding: 0;
  margin: 0 6px 4px 4px;
  float: left;
}
.lkc-title-text {
  color: #111111;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  overflow: hidden;
  word-break: break-all;
}
.lkc-url {
  color: #4466ff;
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
  text-decoration: underline;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lkc-excerpt {
  margin: 0;
  color: #333333;
  font-size: 11px;
  line-height: 17px;
  padding: 0;
  overflow: hidden;
}
/* End LinkCard */