img {
	max-width: 100%;
}
.side-bar-items.active {
	background-color: #ffffff;
	color: #111111;
}

.side-bar-items.active i {
	color: #111111;
}

.side-bar-items.active .side-bar-links{
	color: #111111;
	text-decoration: none;
}

.side-bar-items.active p{
	color: #111111;
}

/* slider images */
.block-sliders .slider-item {
	padding: 15px;
	border: 1px dotted #ccc;
	margin-bottom: 15px;
}
.block-sliders .slider-item .add-slide-files {
	background: #111111;
	color: #ffffff;
	margin: 10px 15px 0 0;
	cursor: pointer;
}
.block-sliders .slider-item .delete-slider {
	display: inline-block;
	color: gray;
	font-size: 20px;
	vertical-align: middle;
	margin-top: 10px;
}
.block-sliders .slider-item .delete-slider i {
	color: gray;
}
.block-sliders .slider-images:after,
.block-medias .media-images:after {
	content: '';
	display: block;
	clear: both;
}
.block-sliders .slider-images .slider-image,
.block-medias .media-images .media-image-item {
	position: relative;
	width: calc((100% - 105px) / 8);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.block-sliders .slider-images .slider-image > div,
.block-medias .media-images .media-image-item > div {
	padding-bottom: 75%;
	background-position: center;
	background-size: cover;
}
.block-sliders .slider-images a.remove,
.block-medias .media-images a.remove {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
.block-sliders .slider-images a.remove i,
.block-medias .media-images a.remove i {
	line-height: 25px;
	color: #fff;
}
.block-medias {
	margin-top: 30px;
}
.cover-img-radio input {
	margin-bottom: 0.5rem;
}
.cover-img-radio label {
	position: relative;
}
.cover-img-radio label a{
	position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
.cover-img-radio label a i {
	line-height: 25px;
	color: #fff;
}
.media-table-library .media-other-size {
	padding-left: 20px;
}
.media-table-library .media-other-size:after {
	content: '';
	display: block;
	clear: both;
}
.media-table-library .media-other-size a {
	color: #c43638;
}
.media-table-library a.link-hold-to-copy.copied,
.media-table-library a.link-hold-to-copy.copied span {
	color: #fff;
	background: #c43638;
}
.media-table-library .media-other-size li{
	list-style: none;
	float: left;
	margin-right: 5px;
}
.media-table-library .media-other-size li:after{
	content: '-';
	display: inline;
	margin-left: 5px;
}
.media-table-library .media-other-size li:last-child:after{
	display: none;
}
/* Modal library */
#library-main .nav-tabs {
	margin: 0 -1rem;
	width: calc(100% + 2rem);
}
#library-main .nav-tabs > .nav-item:first-child {
	padding-left: 1rem;
}
#library-main .nav-tabs > .nav-item:last-child {
	padding-right: 1rem;
}
#library-main .modal-header {
	border-bottom: 0;
}
#library-main .modal-body {
	padding-top: 0;
}
#library-main .row.list-medias {
	margin-right: -10px !important;
  margin-left: -10px !important;
}
#library-main .row.list-medias > div {
	padding: 10px;
}
#library-main .media-item {
	display: block;
	border: 1px solid #ccc;
}
#library-main .media-item img{
	width: 100%;
}

#post-media-modal .row.list-post-medias {
	margin-right: -10px !important;
  margin-left: -10px !important;
}
#post-media-modal .row.list-post-medias > div {
	padding: 10px;
}
#post-media-modal .row.list-post-medias .media-item {
	display: block;
	border: 1px solid #ccc;
}
#post-media-modal .row.list-post-medias .media-item i {
	font-size: 12px;
	display: none;
	padding: 7px;
	background: #007bff;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 5px;
}
#post-media-modal .row.list-post-medias .media-item.active {
	border-color: #007bff;
	position: relative;
}
#post-media-modal .row.list-post-medias .media-item.active i {
	display: block;
}
#post-media-modal .row.list-post-medias .media-item img {
	width: 100%;
}

.-content .image>figcaption {
	text-align: left !important;
}

.ck-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    /* font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%); */
    font-style: normal !important;
	border: none !important;
	position: relative;
	z-index: 10;
}

.ck-content blockquote {
	background: #EFEFEF;
	position: relative;
	z-index: 10;
	padding-top: 1rem;
}

.post-content p>span {
	background-color: transparent !important;
}

.ck-content blockquote::before {
	content: url("/image/icon/quote.png");
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	z-index: -10;
	
}
.ck-content blockquote::after {
	content: url("/image/icon/quote.png");
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
	width: 50px;
	height: 50px;
	z-index: -10;
}
.gg-statistics-page .gg-box {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
	text-align: center;
	margin: 15px 0;
}